.badge {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  flex-shrink: 0;
  line-height: 1;
  user-select: none;
  height: fit-content;
  cursor: default;
  vertical-align: top;
  margin-top: .5em;
  margin-left: .5em;
}
